@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}


/*Class to hide visual impact this is for only screen readers*/

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

 :root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --font-f: 'Bai Jamjuree', sans-serif;
    --fs-regular: 400;
    --fs-bold: 600;
}

 :focus {
    outline: 2px solid var(--Dark-Grayish-Blue);
}

body {
    line-height: 1.5;
    font-family: var(--font-f);
    text-align: center;
}

h1,
h2,
body {
    margin: 0;
    padding: 0;
}

img {
    display: inline-block;
    max-width: 100%;
}

p {
    color: var( --Grayish-Blue);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}


/*-----------------
Utility classes
----------------*/

.flex {
    display: flex;
}

.p-heading,
.s-heading,
.t-heading {
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--fs-bold);
}

.s-heading {
    font-size: 1.687rem;
    line-height: 1.3;
}

.s-discription {
    line-height: 1.6;
    margin-bottom: 3.312rem;
}

.t-heading {
    margin-top: 2.75rem;
    margin-bottom: 0;
    font-size: 1.43rem;
}

.container {
    max-width: 90rem;
    width: 85%;
    margin: 0 auto;
}


/*--------------
Hero section
-------------*/

.header {
    padding: 6rem 0 5.25rem 0;
    background-image: url("./images/bg-header-mobile.png");
    background-repeat: no-repeat;
    text-align: center;
}

.hero__title {
    font-size: 1.937rem;
    margin-top: 3.437rem;
}

.hero__disc {
    color: var( --Grayish-Blue);
}

.btn {
    margin: 2.87rem auto;
    max-width: 30rem;
    flex-direction: column;
    align-items: center;
}

.cta-btn {
    font-size: 1rem;
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 0.88em 0 0.72em 0;
    border-radius: 60px;
    font-weight: var(--fs-bold);
    color: white;
    margin-bottom: 1.3125rem;
    max-width: 23rem;
}

.cta-btn:hover {
    opacity: .8;
}

.cta-btn--ios {
    background-color: var(--Strong-Cyan);
    border-bottom: 3px solid hsl(171deg 63% 35%);
    box-shadow: 0px 10px 17px -7px var(--Strong-Cyan, 0.5);
}

.cta-btn--mac {
    background-color: var(--Light-Blue);
    border-bottom: 3px solid hsl(233deg 49% 51%);
    box-shadow: 0px 10px 17px -7px var(--Light-Blue, 0.5);
}


/*-----------
Keep track section
-----------*/

.keep-track {
    margin-bottom: 13.12rem;
}


/*-----------
Acess Clipboard section
--------------*/

.access-clipboard__img {
    margin-bottom: 76px;
}


/*------------
Workflow section
-------------*/

.workflow-highlights {
    margin-top: 4.75rem;
}

.workflow-highlights__title {
    margin-top: 0;
}

.workflow-highlights__list {
    justify-content: center;
    flex-wrap: wrap;
}

.workflow-highlights__item {
    max-width: 22rem;
    margin: 0 0.812rem 3.5rem 0.812rem;
}

.workflow-highlights__img {
    margin-bottom: 2.3rem;
}

.blacklist-icon {
    margin-top: -0.5rem;
}


/*-------------
    Companies sectoin
    --------------*/

.trusted-companies {
    margin-top: 6.37rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.trusted-companies__img {
    margin: 0 3rem 3.77rem 3rem;
}


/*----------------
    Download Clipboard section
    -----------------*/

.download-clipboard {
    margin-top: 8.25rem;
}


/*-----------
    Footer
    ------------*/

.footer {
    margin-top: 8.125rem;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.375rem;
}

.footer-logo__img {
    height: 2.8rem;
    margin-bottom: 2.187rem;
}

.footer-nav__link {
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
}

.footer-nav__item+.footer-nav__item {
    margin-top: 1.562rem;
}

.footer-social {
    justify-content: space-between;
    margin-top: 2.5rem;
    max-width: 7.8125rem;
    width: 100%;
}

.footer-nav__link:hover,
.footer-social__link:hover {
    color: var(--Strong-Cyan);
}


/*Active states by filter property
Filter generator to convert color of img
https://codepen.io/sosuke/pen/Pjoqqp
*/

.footer-social__img:hover {
    filter: invert(58%) sepia(44%) saturate(733%) hue-rotate(122deg) brightness(99%) contrast(79%);
}


/*
by fill property 


.footer-social__link path:hover {
    fill: var(--Strong-Cyan);
}
*/

@media screen and (min-width:376px) {
    .header {
        background-image: url("./images/bg-header-desktop.png");
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:660px) {
    /*---------
        utility classes
        ------------*/
    p {
        font-size: 1.0625rem;
    }
    .s-heading {
        font-size: 1.87rem;
    }
    .t-heading {
        font-size: 1.62rem;
    }
    .headings-content {
        max-width: 37.125rem;
        margin: 0 auto;
    }
    .feautres__item {
        margin: 0 auto;
        max-width: 25rem;
    }
    /*-------------
        Hero section
        -------------*/
    .hero {
        max-width: 37.125rem;
    }
    .hero__title {
        font-size: 2.37rem;
    }
    .hero__disc {
        margin-top: 0.9rem;
    }
    .btn {
        flex-direction: row;
    }
    .cta-btn {
        font-size: 1.125rem;
    }
    .cta-btn--ios {
        margin-right: 0.9375rem;
    }
    /*----------------
        Footer 
        ----------------*/
    .footer-logo__img {
        height: 3.7rem;
    }
    .footer-nav__link {
        font-weight: var(--fs-bold);
    }
}

@media screen and (min-width:1000px) {
    /*-----------
         Utility classes
        --------------*/
    .container {
        width: 82%;
    }
    p {
        font-size: 1.125rem;
    }
    .s-heading {
        font-size: 2.25rem;
    }
    .s-discription {
        line-height: 1.68;
        margin-bottom: 0;
    }
    .t-heading {
        font-size: 1.4375rem;
        margin-top: 0;
    }
    .t-discription {
        font-size: 1rem;
        line-height: 1.89;
    }
    .headings-content {
        max-width: 44.5rem;
    }
    /*-----------
        Hero section
        -------------*/
    .header {
        padding: 7.8rem 0 4.8rem 0;
    }
    .hero {
        max-width: 44.75rem;
    }
    .hero__title {
        font-size: 2.875rem;
    }
    .hero__disc {
        font-size: 1.312rem;
    }
    /*----------
         Keep Track section
        --------------*/
    .keep-track {
        margin-bottom: 9rem;
    }
    .keep-track--feautures {
        margin-top: 5rem;
        display: flex;
    }
    .features__list {
        padding-top: 3.43rem;
    }
    .feautres__item {
        max-width: 21.75rem;
        margin-bottom: 3.5rem;
        margin-left: -2.1875rem;
        text-align: left;
    }
    .feature__item--disc {
        margin-top: 0.625rem;
    }
    .feature-img__wrapper img {
        transform: translate(-10rem, 0);
    }
    /*-------------
        Acess clipboard section
        --------------*/
    .access-clipboard__img {
        margin-top: 6rem;
        margin-bottom: 4.125rem;
    }
    /*--------------
        Download clipboard section
        ----------------*/
    .download-clipboard {
        margin-top: 5.75rem;
    }
    /*-----------
        Footer
        -------------*/
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 2.375rem 10.2rem;
        margin-bottom: 2.6rem;
    }
    .footer-logo__img {
        margin-bottom: 0;
    }
    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 4.375rem;
        flex-wrap: wrap;
        width: 55%;
    }
    .footer-nav__item+.footer-nav__item {
        margin-top: 0;
    }
    .footer-social {
        margin-top: 0;
    }
}

@media screen and (min-width:1200px) {
    .trusted-companies {
        justify-content: space-between;
    }
    .trusted-companies__img {
        margin: 0 0 3.125rem 0;
    }
    .trusted-companies {
        width: 77%;
    }
}